:root {
    --bg-color: #0d0d0d;
    --text-color: #a3a3a3;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    max-width: 500px;
    margin: 2rem auto;
}

.content-container {
    background-color: #242424;
    border: 3px dotted #a7a7a7;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}